<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corey's Mission to Mars</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>

    <!-- This will be my jumbotron card that prompts users to scrape data-->
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Launch Your Mission</h1>
            <hr class="my-4">
            <p style="font-weight: bold; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">The button below will scrape the internet and produce a result to the webpage!</p>
            <a class="btn btn-warning btn-lg center" href="http://127.0.0.1:5000/scrape" role="button" >Lift Off!</a>
          </div> 
    </div>

    <!-- This code will populate my news section-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-color: #621708;color:#F6AA1C">
                <h1>Scraped Mars News!</h1>
                <br>
                <h2>{{ mars.news_title }}</h2>
                <br>
                <h6>{{ mars.news_paragraph }}</h6>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- This will be the start of my side-by-side data-->
    <div class="container">
        <div class="row">
            <!-- Left Image-->
            <div class="col-lg-7"style="background-color: #621708;color:#F6AA1C">
                <h3>Featured Mars Image</h3>
                <img src="{{ mars.featured_img }}" style="max-width:100%; max-height: auto;" alt="Scraped Featured Image of Mars">
            </div>
            <div class="col-lg-5"style="background-color: #621708;color:#F6AA1C">
                <h3>Mars Facts</h3>
                    <div style="font-size: 18px;">
                        {{mars.facts|safe}}
                    </div>
            </div>
        </div>
    </div>

    <!-- This will be my last section that will display the hemispheres-->
    <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>
        <div class="card-deck">
            <hr>
            <div class="col-md-8" style="margin: auto;">
                <div class="row">
                    {% for item in mars.hemispheres %}
                    <div class="col-md-6">
                        <div class="card"style="text-align:center;">
                            <img class="card-img-top" src="{{ item.img_url }}"style="max-width:100%; max-height: auto;" />
                            <div class="card-body">
                                <p class="card-text">{{ item.title }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</body>
</html>